#filter-section .row{
    height:70px;
}

#main-icons {
    height: calc(100vh - 156px);
}

.bg-light-secondary{
    background-color: lightgray; 
}

.card{
    box-shadow: 3px 3px 5px  #969595;
    height: 120px;
}

.animal{
    color: #00f;
}

.vegetable{
    color: #ffa500;
}

.user{
    color: #800080;
}

.company{
    color:#000;
}